language: c

sudo: false

notifications:
  email: false

env:
  global:
    - SETUP_XVFB=True
    - CONDA_CHANNELS="glueviz"
    - CONDA_DEPENDENCIES="glue-core pytest mock requests pydicom gdcm"
  matrix:
    - PYTHON_VERSION=2.7
    - PYTHON_VERSION=3.5
    - PYTHON_VERSION=2.7 CONDA_CHANNELS="glueviz glueviz/label/dev"
    - PYTHON_VERSION=3.5 CONDA_CHANNELS="glueviz glueviz/label/dev"

install:
  - git clone git://github.com/astrofrog/ci-helpers.git
  - source ci-helpers/travis/setup_conda_$TRAVIS_OS_NAME.sh

script:
  - py.test glue_medical
